head {
    display: none;
}

body {
    display: block;
    margin: 8px;
}

.gallery {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
}

:hover.gallery-image {
    transform: scale(1.04);
}